body {
    background-color: lightgray;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;;
}
#time{
    text-align: right;
    border:2px solid DodgerBlue;
    border-style: ridge;
}

#form1 {
    background-color: crimson;
    text-align: center;
}

#textline1 {
    background-color: dodgerblue;
    text-align: center;
}

input:nth-child(even) {
    border-style: outset;
    background-color: darkgrey;
}

input:nth-child(odd) {
    border-style: outset;
    background-color: white;
}

button {
    background-color: crimson;
    transition: 100ms;
}

button:hover {
    background-color: darkolivegreen;
}

#srt {
    border:2px solid DodgerBlue;
}
